<link href="mochenyin/css/chatPage.css" rel="stylesheet" />
<div id="myChatDiv"  ng-init="wReload()">
    <div id="leftDiv">
        <p ng-click="lickick($event)" class="chatLi"><a  class="chatA" ui-sref=".addChat">创建房间</a></p>
        <p>聊天分类</p>
        <ul ng-click="lickick($event)">
            <li ng-repeat="(k,val) in chatList" class="chatLi"><a class="chatA" ui-sref=".classify({name:'{{val.chatTitle}}'})">{{val.chatName}}</a></li>
        </ul>
    </div>
    <div id="rightDiv">
       <div ui-view></div>
    </div>
</div>


<script src="mochenyin/js/chatPage.js"></script>
