<link href="mochenyin/css/chatPage.css" rel="stylesheet" />
<div id="myChatDiv"  ng-init="wReload()">
    <div id="leftDiv">
        <p ng-click="lickick($event)" class="chatLi"><a  class="chatA" ui-sref=".addChat">发起聊天</a></p>
        <p>聊天分类</p>
        <ul ng-click="lickick($event)">
            <li ng-repeat="(k,val) in chatList" class="chatLi"><a class="chatA" ui-sref=".classify({name:'{{val.chatTitle}}'})">{{val.chatName}}</a></li>
        </ul>
    </div>
    <div id="rightDiv">
       <div ui-view></div>
    </div>
</div>
    <!--<div style="width:100%;height:100px;padding:20px 30px 0 0">-->
        <!--<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myChatModal">发起聊天</button>-->
    <!--</div>-->
    <!--<p><a href="mochenyin/subChatPage.html?chatId=1">聊天室一</a></p>-->
    <!--<p><a href="mochenyin/subChatPage.html?chatId=2">聊天室二</a></p>-->
    <!-- Modal -->

<script src="mochenyin/js/chatPage.js"></script>
