<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    thead tr td{
        font-weight:bold;
    }
</style>
<div style="height:520px;">
    <table id="thispage" class="table table-bordered table-hover table-responsive" style="margin: 0 auto;text-align: center">
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 20%" />
        <col style="width: 40%" />
        <col style="width: 10%" />
        <thead>
        <tr>
            <td>发布者</td>
            <td>房间号</td>
            <td>房间分类</td>
            <td>房间标题</td>
            <td>房间内容</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(k,v) in filteredNotes">
            <td ng-bind="v.userName"></td>
            <td ng-bind="v.roomId"></td>
            <td ng-bind="v.chatName"></td>
            <td ng-bind="v.roomTitle"></td>
            <td ng-bind="v.roomDescription"></td>
            <td>
                <div  class="btn btn-danger btn-sm" ng-click="delete(v.roomId)">删除</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width:100%;height:100px;">
    <nav aria-label="Page navigation">
        <ul class="pagination pull-right">
            <li class="previous">
                <a  aria-label="Previous" ng-click="prePage($event)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="(k,v) in items" class="clickLi"><a ng-click="page()">{{v.i}}</a></li>
            <li  class="next">
                <a  aria-label="Next" ng-click="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script src="js/roomMngr.js"></script>