* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'shoujin';
  src: url("../font/hanyiSJ.ttf"); }
#index .header {
  width: 100%;
  height: 100px;
  background:#2B2922 ;
  color: white; }
  #index .header h1 {
    font-family: shoujin;
    text-align: center;
    font-size:50px;
  margin-bottom: 0 !important;}
  #index .header .tab {
    height: 100px;
    position: relative; }
    #index .header .tab h4 {
      cursor:pointer;
      position: absolute;
      bottom: 0;
    }
#index .header .tab h4 a{
  color:white;
}
#index .header .tab h4 a:hover{
  text-decoration: none;
  color:lightseagreen;
}
#index .body {
  width: 100%;
  min-height: 850px;
}
  #index .body img {
    width: 100%;
    height: 750px;
  }
#userImg {
  margin: 40px 0 0 0;
}
#toggleDown {
  position: relative;
  top:25px;
  left:10px;
  color: black;
}
#subMenu{
  width:100px;
  height:80px;
  background:#F0F0F0;
  border-radius:5px;
  position:relative;
  z-index:2;
  top:0;
  left:20px;
}
.dropdown-menu li a{
  text-align:center;
}
.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.cropit-preview-image-container {
  cursor: move;
}
.image-size-label {
  margin-top: 10px;
}

input {
  display: block;
}

button {
  margin: 10px 20px;
}
.cropit-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-preview.cropit-image-loaded .cropit-preview-image-container {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */

.cropit-image-zoom-input[disabled] {
  opacity: .2;
}
.cropit-image-input {
  position: relative;
  top: 0;
  z-index: 999;
}
/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-preview-background {
  opacity: .4;
}

/*
 * If the slider or anything else is covered by the background image,
 * use non-static position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
.image-editor {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
.footer{
  width:100%;
  height:120px;
  background:#2B2922;
  padding:30px 0 0 0
}
#text{
  width:600px;
  margin:0 auto;
}
 #text h4,#text h5{
  color:white
}
a.indexActive{
  color:lightseagreen !important;
  text-decoration: none !important;
}
#myIndexMain{
  width:100%;
  background:#ECECE9;
}
#myIndexH2{
  width:180px;
  margin:0 auto;
  color:orangered;
  padding:20px 0 0 0;
}
#myIndexH2 h2{
  padding:0 !important;
  margin:0;
}
.myIndexTitle{
   position: relative;
  top:0;
  color:white;
  width:100%;
  height:200px;
}
.myIndexBody{
  width:1005px;
  margin:0 auto;
  background:white;
}
.myIndexBody ul{
  list-style:none;
}
.myIndexBody1 li{
  width:290px;
  height:180px;
  display:inline-block;
  margin:40px 20px 20px 20px;
  box-shadow:1px 1px #9E9E9E ;
}
.myIndexBody1 li a{
  width:100%;
  height:100%;
  display: inline-block;
  text-align: center;
  font-size:25px;
  color:white;
  text-decoration: none;
  padding:80px 0 0 0
}
.myIndexBody1 li a:hover{
  text-decoration: none;
}
.myIndexBody2{
  padding:40px 0 0 0;
}
.myIndexBody2 li{
  width:400px;
  height:200px;
  margin:0 20px 40px 60px !important;
  box-shadow:1px 1px 1px 1px #9E9E9E ;
  display: inline-block;
}
.myIndexBody2 li a{
  width:100%;
  height:100%;
  display: inline-block;
  text-decoration: none;
}
.myIndexBody2 li a:hover{
  text-decoration: none;
}
.myIndexBody2Img{
  border-radius:50%;
  width:80px !important;
  height:80px !important;
  position:relative;
  top:-20px;
  box-shadow:1px 1px 1px 1px #9E9E9E ;
}
.myIndexBody3 li{
  width:90%;
  margin:0 auto;
}
.myIndexBody3Ball{
  color:white;
  width:80px;
  height:80px;
  position:relative;
  top:30px;
  font-size:25px;
  text-align: center;
  line-height: 80px;
  font-weight:bold;
  border-radius: 50%;
  font-family: shoujin;
}
.myIndexBody3Quare{
  display:flex;
  flex-flow:row;
  width:700px;
  line-height:80px;
  height:80px;
  margin:0 auto;
  box-shadow:1px 1px 1px 1px #9E9E9E ;
}
#divLinear{
  background:-webkit-gradient(linear,0 top,0 bottom,from(darkseagreen),to(lightseagreen));/*渐变效果*/
  /*-webkit-filter: blur(10px); !*模糊效果*!*/
}
.indexClassify_bg{
  width:80%;
  margin:0 auto;
  height:150px;
  position: relative;
  top:-150px;
  z-index:2;
  opacity:0.6;
  cursor:pointer;
  text-align: center;
  line-height: 150px;
  font-size: 35px;
  font-family: shoujin;
  color:white;
  font-weight:700;
}
.indexClassify_bg:hover{
  opacity:0.3;
}
.indexClassify_op{
  width:80%;
  margin:0 auto;
  background-size:100% 100%;
  height:150px;
  -webkit-filter: blur(1px);
  box-shadow: 1px 1px 1px 1px darkgrey;
}
#addTag{
  width:100px;
  height:100px;
  border-radius:50%;
  background:orangered;
  position: absolute;
  z-index: 9;
  right:200px;
  top:190px;
  text-align:center;
  line-height:100px;
  color:white;
  font-size:20px;
  cursor:pointer;
  box-shadow: 1px 1px 1px 1px grey;
}